.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #393C3E;
}

.nav-pills>li>a,
.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
  color: #393C3E;
  background-color: white;
}

.tab-content {
  padding-top: 50px;
}

.big-details span.total-delegates {
  font-weight: 700;
}

.forging-totals {
  margin-top: 1em;
  margin-bottom: 1em;
}

.forging-total {
  color: white;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
}

.forging-total.grey {
  background: -webkit-linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);
  background: linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%); 
}

.forging-total.green {
  background: -moz-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%); 
}

.forging-total.orange {
  background: -moz-linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
  background: linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
}

.forging-total.red {
  background: -moz-linear-gradient(45deg, #fd016a 0%, #f50202 100%);
  background: linear-gradient(45deg, #fd016a 0%, #f50202 100%);
}

.progress-bar-forging {
  background-color: #3442ff;
}

.forging-status {
  font-size: 18px;
  color: #d3d7cf;
}

.tooltip span {
  font-size: 14px;
  font-weight: bold;
}

.tooltip-grey .tooltip-inner {
  background-color: #8089ff !important;
}

.tooltip-grey.left .tooltip-arrow {
  border-left-color: #8089ff;
}

.forging-status.green {
  color: #92d275;
}

.tooltip-green .tooltip-inner {
  background-color: #92d275 !important;
}

.tooltip-green.left .tooltip-arrow {
  border-left-color: #92d275;
}

.forging-status.orange {
  color: #ff8765;
}

.tooltip-orange .tooltip-inner {
  background-color: #ff8765 !important;
}

.tooltip-orange.left .tooltip-arrow {
  border-left-color:  #ff8765;
}

.forging-status.red {
  color: #f50202;
}

.tooltip-red .tooltip-inner {
  background-color: #f50202;
}

.tooltip-red.left .tooltip-arrow {
  border-left-color:  #f50202;
}
